@charset "UTF-8";

body {margin : 0;}

#main {min-height : 100vh;}


#section {
		padding-top : 20px;
		letter-spacing : -1px;
		font-weight : bold;	
}

.register-inform {
		margin-bottom : 100px;
		font-size : 18px;
		font-weight : bold;
}


#tablewrap {
		width : 80%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 100px;
}
		
.table {
		width : 50%;
		height : 74px;
		line-height : 74px;
		border-top-width : 1px;
		border-top-style : solid;
		border-top-color : #8c8c8c;
		float : left;
}



.table-L {
		width : 25%;
		height : 100%;
		float : left;
		background-color : #bbbaba;
		text-align : center;
		display : inline-block;
		
}

.table-R {
		width : calc(75% - 25px);
		height : 100%;
		float : left;
		margin-left : 25px;
		
}

.register-input {
		border-width : 1px;
		border-style : solid;
		border-color : #8c8c8c;
		padding-left : 25px;
		resize : none;
}

.table-D {
		width : 100%;
		height : 222px;
		line-height : 222px;
		border-top-width : 1px;
		border-top-style : solid;
		border-top-color : #8c8c8c;
		border-bottom-width : 1px;
		border-bottom-style : solid;
		border-bottom-color : #8c8c8c;
		float : left;
}



.table-D-L {
		width : 12.5%;
		height : 100%;
		float : left;
		background-color : #bbbaba;
		text-align : center;
		display : inline-block;
		
}

.table-D-R {
		width : calc(87.5% - 25px);
		height : calc(100% - 50px);
		float : left;
		margin-left : 25px;
		margin-top : 25px;
		margin-bottom : 25px;
		
}



.table-F {
		width : 100%;
		height : 74px;
		line-height : 74px;	
		text-align : center;
		border-width : 0px 0px 1px 0px;
		border-style : solid;
		border-color : #8c8c8c;
		float : left;
}

.imgbtn {
		height : 33px;
		background-color : white;
		border-width : 1px;
		border-color : #8c8c8c;
		border-style : solid;
		font-size : 17px;
		background-color : #bbbaba;
		cursor : pointer;
}

.register-comp {
		width : 100%;
		height : 74px;
		line-height : 74px;
		background-color : white;
		border-width : 0;
		cursor : pointer;
		text-align : center;
		font-size : 18px;
		font-weight:bold;
}

.register-comp:hover {
		background-color : #bbbaba;
}



		


